@import url("./variables.css");

.alura-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.alura-section ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}
.alura-section li img:hover {
    opacity: .8;
    transition: .25s ease-in;
}

@media screen and (max-width: 768px) {
    .alura-section {
        height: auto;
        flex-direction: row;
        align-items: start;
    }
    .alura-section ul {
        flex-direction: row;
    }
}