@import url("./variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Inter", sans-serif;
}

body {
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
